//*---------main----------

.account__nav {
  width: 100%;
  margin: 0;
}

.account__nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 15px;
  padding-bottom: 0;

  list-style: none;

  border: 1px solid #e2e1e6;
}

.account__nav-item {
  width: 100%;
  margin-bottom: 15px;
}

.account__nav-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding: 20px 15px;

  background-color: #f0f0f2;
  border: 1px solid #f0f0f2;

  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #609c9f;
  }
}

.account__nav-link--logout {
  background-color: $cyan;
  border-color: $cyan;

  span {
    color: white;
  }
}

.account__nav-icon {
  position: absolute;
  top: 6px;
  right: 0;

  transform: scale(0.7);

  &--delete {
    background-color: transparent;
    border-color: white;

    svg {
      top: 18px;
      left: 18px;

      fill: white;
    }
  }
}

.account__qty {
  position: absolute;
  top: 20px;
  left: 177px;
}

//*-------personal------

.account__personal {
  order: 2;
  width: 100%;
  margin-top: 46px;
}

.account__personal-fields-wrapper {
  padding: 15px;

  border: 1px solid #e2e1e6;
}

.account__personal-info-wrapper {
  margin-bottom: 46px;
}

.account__personal-heading {
  width: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 19px;
  line-height: 1.5;
  color: #609c9f;
}

.account__personal-changes {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 8px;

  span {
    display: block;

    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: #041936;
  }

  time {
    margin-left: 5px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #55606e;
  }
}

.account__personal-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;
}

.account__personal-field {
  position: relative;

  margin-top: 8px;
  margin-bottom: 20px;
}

.account__personal-fieldset--password {
  // justify-content: flex-start;
  margin-bottom: 0;
}

.account__personal-label {
  display: block;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #041936;

  sup {
    position: relative;
    top: 0;
    left: 2px;

    font-size: 16px;
    color: #609c9f;
  }
}

.account__personal-textfield {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 6px;
  padding: 16px 26px;
  padding-right: 34px;
  padding-left: 18px;

  border: 1px solid #e2e1e6;
  border-radius: 25px;

  &::placeholder {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #55606e;
  }
}

.account__personal-textfield--invalid {
  border: none;
  box-shadow: 0 0 0 2px #e7445f;
}

.account__personal-text {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #55606e;
}

.account__personal-text--info {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b8b8ba;

  sup {
    position: relative;
    top: 0;
    left: 2px;

    font-size: 16px;
    color: #609c9f;
  }
}

.account__personal-text--checkbox {
  display: block;
  box-sizing: border-box;
  padding-left: 35px;
}

.account__personal-field--checkbox {
  position: relative;

  display: block;
  margin-top: 21px;
  margin-bottom: 21px;
}

.account__personal-checkfield {
  position: absolute;
  top: 3px;

  display: block;
  width: 24px;
  height: 24px;

  background-color: #ffffff;
  border: 1px solid #b69a79;

  svg {
    position: absolute;
    top: 7px;
    left: 6px;

    display: none;

    fill: none;
    stroke: #b69a79;
  }
}

.account__personal-field--checkbox input:checked + .account__personal-checkfield svg {
  display: block;
}

.account__personal-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
}

.account__personal-btn {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
}

.account__personal-btn--submit {
  background-color: #609c9f;
  border-color: #609c9f;
}

.account__personal-textfield:hover {
  border-color: #b8b8ba;
}

.account__personal-textfield:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px #b69a79;
}


//*------favorites--------

.account__favorites {
  order: 2;
  width: 100%;
}


.account__side-nav {
  order: 1;
  width: 100%;
  margin: 0;
  padding-top: 5px;
}

.account__side-nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.account__side-nav-item {
  border-bottom: 1px solid #d5c9be;

  &:nth-last-of-type(2) {
    border: none;
  }
}

.account__side-nav-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  padding: 15px 20px;
  padding-bottom: 14px;

  span {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;
  }

  svg {
    position: absolute;
    top: 20px;
    right: 17px;

    transform: rotate(-90deg);

    fill: #b79b7a;
  }
}

.account__side-nav-list .account__side-nav-link--current {
  background-color: #d5cabf;
}

.account__side-nav-item--logout {
  margin-top: 30px;

  border: 1px solid $cyan;
}

.account__side-nav-link--logout svg {
  fill: $cyan;
}

.account__favorites-qty {
  position: absolute;
  top: 13px;
  right: 61px;
}

//*--------------compare----------------


.account-compare__section {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 32px;
}

.account-compare__buttons {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.account-compare__button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  // margin-right: 10px;
  margin-bottom: 15px;
  padding: 16px 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #041936;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.account-compare__button--clear {
  width: auto;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #609c9f;
  text-transform: none;
  letter-spacing: 0.1px;

  background-color: transparent;
  border: none;

  svg {
    fill: #609c9f;
  }
}

.account-compare__button--selected {
  position: relative;

  color: #ffffff;

  background-color: #b69a79;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: calc(100% - 5px);
  //   left: 50%;

  //   width: 12px;
  //   height: 12px;

  //   background: #b69a79;
  //   transform: rotate(45deg);
  // }
}

.account-compare__goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.account-compare__section-title {
  margin: 0 auto;

  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #041936;
  text-transform: none;
}

.account-compare__pagination {
  display: none;
}

.account-compare__btn--like {
  top: 59px;
}

.account-compare__goods-text {
  margin-top: 10px;
}

.account-compare__goods-price {
  margin-top: 0;
}

.account-compare__info-list {
  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;

  border: 1px solid #e2e1e6;
}

.account-compare__info-item {
  padding: 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #55606e;

  border-bottom: 1px solid #e2e1e6;

  &:last-of-type {
    border: none;
  }
}

.account-compare__table {
  display: none;
}

//*---------order-profiles----------


.account-order-profiles__section {
  order: 2;
  width: 100%;
  margin-top: 40px;
  padding-top: 7px;
}

.account-order-profile__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.account-order-profile__item--header {
  display: none;
}

.account-order-profile__item {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  border: 1px solid #e2e1e6;
}

.account-order-profile__inner-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 15px;

  list-style: none;
}

.account-order-profile__inner-item {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #55606e;
}


.account-order-profile__inner-item--id {
  width: 70px;
  padding-left: 0;

  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #041936;
}

.account-order-profile__inner-item--date {
  display: block;
  width: 65%;
  margin-left: auto;
  padding-right: 0;

  text-align: right;
}

.account-order-profile__inner-item--actions {
  padding-right: 0;
}

.account-order-profile__inner-btn--change {
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #609c9f;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.account-order-profile__inner-btn--delete {
  float: right;
  margin-left: auto;
  // padding: 3px 6px;

  background-color: transparent;
  border: none;
  cursor: pointer;


  svg {
    fill: #b69a79;
  }
}

//*--------- order-profile----------------

.account-order-profile__section {
  order: 2;
  width: 100%;
  margin-top: 46px;
}

.account-order-profile__form-container {
  margin-bottom: 16px;
  padding: 15px;

  border: 1px solid #e2e1e6;
}

.account-order-profile__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.account-order-profile__info {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  span {
    display: block;
    margin: 0;
  }
}

.account-order-profile__type-heading {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  color: #041936;
}

.account-order-profile__type {
  margin-left: 5px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #55606e;
}

.account-order-profile__heading {
  width: 100%;
  margin: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: #609c9f;
}

.account-order-profile__field {
  position: relative;

  width: 265px;
  margin: 0;
  margin-top: 8px;
}

.account-order-profile__field--location {
  width: 100%;
}

.account-order-profile__location {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 88px 15px 45px;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #55606e;

  border: none;
  border-bottom: 1px solid #e2e1e6;
}

.account-order-profile__label {
  display: block;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #041936;

  sup {
    position: relative;
    top: 0;
    left: 2px;

    font-size: 16px;
    color: #609c9f;
  }
}

.account-order-profile__textarea {
  width: 100%;
  min-height: 46px;

  border: none;
  border-bottom: 1px solid #e2e1e6;

  resize: none;
}

.account-order-profile__textfield {
  box-sizing: border-box;
  margin-bottom: 6px;
  padding: 16px 26px;
  padding-right: 44px;
  padding-left: 11px;

  letter-spacing: -0.6px;

  border: none;
  border-bottom: 1px solid #e2e1e6;
}

.account-order-profile__field .account-order-profile__textfield--invalid {
  border-color: transparent;
  box-shadow: 0 2px 0 0 #e7445f;
}

.account-order-profile__btn-wrapper {
  position: relative;

  margin-bottom: 10px;

  svg {
    position: absolute;
    top: 14px;
    left: 10px;
  }

  .account-order-profile__change {
    position: absolute;
    top: 15px;
    right: 8px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #b69a79;
  }
}

.account-order-profile__buttons {
  display: block;
  margin-top: 35px;
}

.account-order-profile__btn {
  display: block;
  width: 100%;
  margin: 0;
  margin-right: 21px;
  margin-bottom: 20px;
  padding: 15px;

  text-transform: uppercase;

  border: none;

  &--save {
    background-color: #609c9f;
    border-color: #609c9f;
  }

  &--reset {
    text-align: center;

    background-color: #ffffff;
    border: 1px solid #b69a79;
  }
}

.account-order-profile__btn--inList {
  box-sizing: border-box;

  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #b69a79;
  text-transform: none;
}

@media (min-width: $tablet) {
  .account {
    padding-bottom: 30px;
  }

  //*---------main--------


  .account__nav {
    width: 100%;
    margin: 0;
  }

  .account__nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
    padding-bottom: 0;

    list-style: none;

    border: 1px solid #e2e1e6;
  }

  .account__nav-item {
    width: 48.8%;
    margin-bottom: 28px;
  }

  .account__nav-link {
    position: relative;

    display: block;
    box-sizing: border-box;
    padding: 39px 30px;

    background-color: #f0f0f2;
    border: 1px solid #f0f0f2;

    span {
      font-weight: 400;
      font-size: 22px;
      line-height: 1.5;
      color: #609c9f;
    }
  }

  .account__nav-link--logout {
    background-color: $cyan;
    border-color: $cyan;

    span {
      color: white;
    }
  }

  .account__nav-icon {
    position: absolute;
    top: 30px;
    right: 28px;

    transform: scale(1);

    &--delete {
      background-color: transparent;
      border-color: white;

      svg {
        top: 18px;
        left: 18px;

        fill: white;
      }
    }
  }

  .account__qty {
    position: absolute;
    top: 45px;
    left: 269px;
  }
  //*-------personal------

  .account__personal {
    width: 666px;
    margin-top: 6px;
  }

  .account__personal-fields-wrapper {
    padding: 30px;
    padding-top: 23px;
    padding-bottom: 22px;

    border: 1px solid #e2e1e6;
  }

  .account__personal-info-wrapper {
    margin-bottom: 46px;
  }

  .account__personal-heading {
    width: 100%;
    margin: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #609c9f;
  }

  .account__personal-changes {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;

    span {
      display: inline;

      font-weight: 600;
      font-size: 15px;
      line-height: 1.5;
      color: #041936;
    }

    time {
      margin-left: 5px;

      font-weight: 500;
      font-size: 15px;
      line-height: 1.5;
      color: #55606e;
    }
  }

  .account__personal-fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    border: none;
  }

  .account__personal-field {
    position: relative;

    margin-top: 8px;
    margin-right: 37px;
  }

  .account__personal-fieldset--password {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .account__personal-label {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;

    sup {
      position: relative;
      top: 0;
      left: 2px;

      font-size: 16px;
      color: #609c9f;
    }
  }

  .account__personal-textfield {
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 16px 26px;
    padding-right: 34px;
    padding-left: 18px;

    border: 1px solid #e2e1e6;
    border-radius: 25px;

    &::placeholder {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: #55606e;
    }
  }

  .account__personal-text {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #55606e;
  }

  .account__personal-text--info {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #b8b8ba;

    sup {
      position: relative;
      top: 0;
      left: 2px;

      font-size: 16px;
      color: #609c9f;
    }
  }

  .account__personal-text--checkbox {
    padding-left: 35px;
  }

  .account__personal-field--checkbox {
    position: relative;

    display: block;
    margin-top: 21px;
    margin-bottom: 10px;
  }

  .account__personal-checkfield {
    position: absolute;
    top: -2px;

    display: block;
    width: 24px;
    height: 24px;

    background-color: #ffffff;
    border: 1px solid #b69a79;

    svg {
      position: absolute;
      top: 7px;
      left: 6px;

      display: none;

      fill: none;
      stroke: #b69a79;
    }
  }

  .account__personal-field--checkbox input:checked + .account__personal-checkfield svg {
    display: block;
  }

  .account__personal-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 18px;
  }

  .account__personal-btn {
    width: auto;
    margin: 0;
    margin-right: 21px;
    padding-right: 30px;
  }

  .account__personal-btn--submit {
    background-color: #609c9f;
    border-color: #609c9f;
  }

  .account__personal-textfield:hover {
    border-color: #b8b8ba;
  }

  .account__personal-textfield:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #b69a79;
  }

  //*------favorites------

  .account__favorites {
    order: 1;
    width: 690px;
  }

  .account__favorites-list {
    justify-content: flex-start;
    margin-top: 5px;
    padding: 0 15px;
  }

  .account__favorites-item {
    &:nth-of-type(even) {
      margin-left: auto;
    }
  }

  .account__side-nav {
    order: 2;
    width: 270px;
    margin: 0;
    padding-top: 5px;
  }

  .account__side-nav-list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .account__side-nav-item {
    border-bottom: 1px solid #d5c9be;

    &:nth-last-of-type(2) {
      border: none;
    }
  }

  .account__side-nav-item--logout {
    margin-top: 30px;

    border: 1px solid $cyan;
  }

  .account__side-nav-link {
    position: relative;

    display: block;
    box-sizing: border-box;
    padding: 15px 20px;
    padding-bottom: 14px;

    span {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: #041936;
    }

    svg {
      position: absolute;
      top: 20px;
      right: 17px;

      transform: rotate(-90deg);

      fill: #b79b7a;
    }
  }

  .account__side-nav-link--delete svg {
    fill: $cyan;
  }

  .account__favorites-qty {
    position: absolute;
    top: 13px;
    right: 61px;
  }

  //*--------------compare----------------


  .account-compare__section {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 32px;
  }

  .account-compare__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .account-compare__button {
    display: block;
    box-sizing: border-box;
    width: 250px;
    margin: 0;
    margin-right: 10px;
    padding: 16px 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .account-compare__button--clear {
    width: auto;
    margin-right: 17px;
    margin-left: auto;
    padding: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #609c9f;
    text-transform: none;
    letter-spacing: 0.1px;

    background-color: transparent;
    border: none;

    svg {
      fill: #609c9f;
    }
  }

  .account-compare__button--selected {
    position: relative;

    color: #ffffff;

    background-color: #b69a79;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 5px);
      left: 50%;

      width: 12px;
      height: 12px;

      background: #b69a79;
      transform: rotate(45deg);
    }
  }

  .account-compare__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 925px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }

  .account-compare__section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #041936;
    text-transform: none;
  }

  .account-compare__pagination {
    display: block;
  }

  .account-compare__btn--like {
    top: 59px;
  }

  .account-compare__goods-text {
    margin-top: 10px;
  }

  .account-compare__goods-price {
    margin-top: 0;
  }

  .account-compare__info {
    display: none;
  }

  .account-compare__table {
    display: table;
    width: 925px;
    margin: 0 auto;

    border-collapse: collapse;

    border: 1px solid #e2e1e6;

    th {
      display: none;
    }

    td {
      box-sizing: border-box;
      width: 25%;
      padding: 13px 30px;

      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #55606e;

      border: 1px solid #e2e1e6;
    }
  }

  //*---------order-profiles----------

  .account-order-profiles__section {
    width: 666px;
    margin: 0;
    padding-top: 7px;
  }

  .account-order-profile__list {
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .account-order-profile__item--header {
    display: block;

    background-color: #f0f0f2;
    border: 1px solid #e2e1e6;

    .account-order-profile__inner-item {
      box-sizing: border-box;
      padding: 9px 10px;

      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #b69a79;

      &--id {
        padding-left: 0;
      }
    }
  }

  .account-order-profile__item {
    margin-top: -1px;
    margin-bottom: 0;

    border: 1px solid #e2e1e6;
  }

  .account-order-profile__inner-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 15px;

    list-style: none;
  }

  .account-order-profile__inner-item {
    box-sizing: border-box;
    width: 190px;
    padding: 14px 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #55606e;
  }


  .account-order-profile__inner-item--date {
    margin: 0;
    padding-left: 0;

    text-align: left;
  }


  .account-order-profile__inner-item--id {
    width: 70px;
    padding-left: 0;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #041936;
  }

  .account-order-profile__inner-item--actions {
    padding-right: 0;
  }

  .account-order-profile__inner-btn--change {
    padding: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #609c9f;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .account-order-profile__inner-btn--delete {
    float: right;
    margin-left: auto;
    // padding: 3px 6px;

    background-color: transparent;
    border: none;
    cursor: pointer;


    svg {
      fill: #b69a79;
    }
  }

  //*--------- order-profile----------------

  .account-order-profile__section {
    width: 666px;
  }

  .account-order-profile__form-container {
    margin-bottom: 16px;
    padding: 30px;

    border: 1px solid #e2e1e6;
  }

  .account-order-profile__fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    border: none;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .account-order-profile__info {
    width: 100%;
    margin: 0;

    span {
      display: inline;
      margin: 0;
      margin-right: 5px;
    }
  }

  .account-order-profile__type-heading {
    display: inline;

    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: #041936;
  }

  .account-order-profile__type {
    display: inline;
    margin-left: 5px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #55606e;
  }

  .account-order-profile__heading {
    width: 100%;
    margin: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #609c9f;
  }

  .account-order-profile__field {
    position: relative;

    width: 265px;
    margin: 0;
    margin-top: 8px;
  }

  .account-order-profile__field--location {
    width: 100%;
  }

  .account-order-profile__location {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 100px 15px 50px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #55606e;

    border: none;
    border-bottom: 1px solid #e2e1e6;
  }

  .account-order-profile__label {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;

    sup {
      position: relative;
      top: 0;
      left: 2px;

      font-size: 16px;
      color: #609c9f;
    }
  }

  .account-order-profile__textarea {
    width: 100%;
    min-height: 46px;

    border: none;
    border-bottom: 1px solid #e2e1e6;

    resize: none;
  }

  .account-order-profile__textfield {
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 16px 26px;
    padding-right: 44px;
    padding-left: 11px;

    letter-spacing: -0.6px;

    border: none;
    border-bottom: 1px solid #e2e1e6;
  }

  .account-order-profile__btn-wrapper {
    position: relative;

    margin-bottom: 10px;

    svg {
      position: absolute;
      top: 14px;
      left: 10px;
    }

    .account-order-profile__change {
      position: absolute;
      top: 18px;
      right: 8px;

      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: #b69a79;
    }
  }

  .account-order-profile__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 18px;
  }

  .account-order-profile__btn {
    width: 190px;
    margin: 0;
    margin-right: 21px;
    padding: 15px;

    text-transform: uppercase;

    border: none;

    &--save {
      background-color: #609c9f;
      border-color: #609c9f;
    }

    &--reset {
      background-color: #ffffff;
      border: 1px solid #b69a79;
    }
  }

  .account-order-profile__btn--inList {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #b69a79;
    text-transform: none;
  }
}

@media (min-width: $desktop) {
  .account {
    padding-bottom: 30px;
  }

  //*---------account-main-------

  .account__nav {
    width: 100%;
    margin: 0;
  }

  .account__nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
    padding-bottom: 0;

    list-style: none;

    border: 1px solid #e2e1e6;
  }

  .account__nav-item {
    width: 48.8%;
    margin-bottom: 28px;
  }

  .account__nav-link {
    position: relative;

    display: block;
    box-sizing: border-box;
    padding: 39px 30px;

    background-color: #f0f0f2;
    border: 1px solid #f0f0f2;

    span {
      font-weight: 400;
      font-size: 22px;
      line-height: 1.5;
      color: #609c9f;
    }
  }

  .account__nav-link--logout {
    background-color: $cyan;
    border-color: $cyan;

    span {
      color: white;
    }
  }

  .account__nav-icon {
    position: absolute;
    top: 30px;
    right: 28px;

    &--delete {
      background-color: transparent;
      border-color: white;

      svg {
        top: 18px;
        left: 18px;

        fill: white;
      }
    }
  }

  .account__nav-icon:hover,
  .account__nav-icon:focus,
  .account__nav-icon:active {
    background-color: #f0f0f2;
    border: 1px solid #e2e1e6;

    svg {
      fill: #b69a79;
    }
  }

  .account__nav-icon--delete:hover,
  .account__nav-icon--delete:focus,
  .account__nav-icon--delete:active {
    background-color: transparent;
    border-color: white;

    svg {
      fill: white;
    }
  }

  .account__qty {
    position: absolute;
    top: 45px;
    left: 269px;
  }

  .account__nav-link:focus,
  .account__nav-link:hover {
    background-color: #ffffff;
    border: 1px solid #e2e1e6;
  }

  .account__nav-link--logout:focus,
  .account__nav-link--logout:hover {
    span {
      color: $cyan;
    }

    .account__nav-icon--delete {
      background-color: $cyan;
    }
  }

  //*--------personal------------

  .account__personal {
    width: 925px;
    margin-top: 6px;
  }

  .account__personal-fields-wrapper {
    padding: 30px;
    padding-top: 23px;
    padding-bottom: 22px;

    border: 1px solid #e2e1e6;
  }

  .account__personal-info-wrapper {
    margin-bottom: 46px;
  }

  .account__personal-heading {
    width: 100%;
    margin: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #609c9f;
  }

  .account__personal-changes {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;

    span {
      font-weight: 600;
      font-size: 15px;
      line-height: 1.5;
      color: #041936;
    }

    time {
      margin-left: 5px;

      font-weight: 500;
      font-size: 15px;
      line-height: 1.5;
      color: #55606e;
    }
  }

  .account__personal-fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    border: none;
  }

  .account__personal-field {
    position: relative;

    margin: 0;
    margin-top: 8px;
  }

  .account__personal-field--password {
    margin-right: 37px;
  }

  .account__personal-fieldset--password {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .account__personal-label {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;

    sup {
      position: relative;
      top: 0;
      left: 2px;

      font-size: 16px;
      color: #609c9f;
    }
  }

  .account__personal-textfield {
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 16px 26px;
    padding-right: 34px;
    padding-left: 18px;

    border: 1px solid #e2e1e6;
    border-radius: 25px;

    &::placeholder {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: #55606e;
    }
  }

  .account__personal-text {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #55606e;
  }

  .account__personal-text--info {
    margin-top: 13px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #b8b8ba;

    sup {
      position: relative;
      top: 0;
      left: 2px;

      font-size: 16px;
      color: #609c9f;
    }
  }

  .account__personal-text--checkbox {
    padding-left: 35px;
  }

  .account__personal-field--checkbox {
    position: relative;

    display: block;
    margin-top: 21px;
    margin-bottom: 10px;
  }

  .account__personal-checkfield {
    position: absolute;
    top: -2px;

    display: block;
    width: 24px;
    height: 24px;

    background-color: #ffffff;
    border: 1px solid #b69a79;

    svg {
      position: absolute;
      top: 7px;
      left: 6px;

      display: none;

      fill: none;
      stroke: #b69a79;
    }
  }

  .account__personal-field--checkbox input:checked + .account__personal-checkfield svg {
    display: block;
  }

  .account__personal-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 18px;
  }

  .account__personal-btn {
    width: 250px;
    margin: 0;
    margin-right: 21px;
    padding: 15px;
  }

  .account__personal-btn--submit {
    background-color: #609c9f;
    border-color: #609c9f;
  }

  .account__personal-textfield:hover {
    border-color: #b8b8ba;
  }

  .account__personal-textfield:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #b69a79;
  }

  //*--------favorites-----------

  .account__favorites {
    width: 925px;
  }

  .account__favorites-list {
    justify-content: flex-start;
    margin-top: 5px;
    padding: 0;
  }

  .account__favorites-item {
    margin: 0;

    &:nth-of-type(3n+2) {
      margin-right: auto;
      margin-left: auto;
    }

    &:nth-of-type(3n+3) {
      margin-left: auto;
    }

    &:last-of-type {
      margin-left: 13px;
    }
  }

  .account__side-nav {
    width: 295px;
    margin: 0;
    padding-top: 5px;
  }

  .account__side-nav-list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .account__side-nav-item {
    border-bottom: 1px solid #d5c9be;

    &:nth-last-of-type(2) {
      border: none;
    }
  }

  .account__side-nav-link {
    position: relative;

    display: block;
    box-sizing: border-box;
    padding: 15px 20px;
    padding-bottom: 14px;

    span {
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: #041936;
    }

    svg {
      position: absolute;
      top: 20px;
      right: 17px;

      transform: rotate(-90deg);

      fill: #b79b7a;
    }
  }

  .account__side-nav-item--logout {
    margin-top: 30px;

    border: 1px solid $cyan;

    svg {
      fill: $cyan;
    }
  }

  .account__favorites-qty {
    position: absolute;
    top: 13px;
    right: 85px;
  }

  .account__side-nav-link:focus,
  .account__side-nav-link:hover {
    span {
      color: $cyan;
    }

    svg {
      fill: $cyan;
    }
  }

  .account__side-nav-link:not([href]) {
    span {
      color: #041936;
    }

    svg {
      fill: #b79b7a;
    }
  }

  .account__side-nav-link:active {
    opacity: 0.7;
  }

  .account__side-nav-link--logout:focus,
  .account__side-nav-link--logout:hover {
    background-color: $cyan;

    span {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .account__side-nav-link--logout:active {
    opacity: 0.7;
  }

  //*--------------compare----------------

  .account-compare__section {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 32px;
  }

  .account-compare__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .account-compare__button {
    display: block;
    box-sizing: border-box;
    width: 250px;
    margin: 0;
    margin-right: 10px;
    padding: 16px 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .account-compare__button--clear {
    width: auto;
    margin-right: 17px;
    margin-left: auto;
    padding: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #609c9f;
    text-transform: none;
    letter-spacing: 0.1px;

    background-color: transparent;
    border: none;

    svg {
      fill: #609c9f;
    }
  }

  .account-compare__button--selected {
    position: relative;

    color: #ffffff;

    background-color: #b69a79;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 5px);
      left: 50%;

      width: 12px;
      height: 12px;

      background: #b69a79;
      transform: rotate(45deg);
    }
  }

  .account-compare__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 925px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
  }

  .account-compare__section-title {
    margin: 0;
    margin-right: auto;
    margin-left: 22px;

    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #041936;
    text-transform: none;
    letter-spacing: -0.1px;
  }

  .account-compare__btn--like {
    top: 59px;
  }

  .account-compare__goods-text {
    margin-top: 10px;
  }

  .account-compare__goods-price {
    margin-top: 0;
  }

  .account-compare__table {
    width: 100%;

    border-collapse: collapse;

    border: 1px solid #e2e1e6;

    th {
      display: table-cell;
      box-sizing: border-box;
      width: 25%;
      padding: 13px 16px;

      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      text-align: left;
      color: #b69a79;

      background-color: #f0f0f2;
      border: 1px solid #e2e1e6;
    }

    td {
      box-sizing: border-box;
      width: 25%;
      padding: 13px 30px;

      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      text-align: left;
      color: #55606e;

      border: 1px solid #e2e1e6;
    }

    tr:hover {
      background-color: #f0f0f2;

      td {
        color: $cyan;
      }
    }
  }

  //*---------order-profiles----------

  .account-order-profiles__section {
    width: 925px;
    padding-top: 7px;
  }

  .account-order-profile__list {
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .account-order-profile__item--header {
    background-color: #f0f0f2;
    border: 1px solid #e2e1e6;

    .account-order-profile__inner-item {
      box-sizing: border-box;
      padding: 9px 10px;

      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #b69a79;

      &--id {
        padding-left: 0;
      }
    }
  }

  .account-order-profile__item {
    margin-top: -1px;

    border: 1px solid #e2e1e6;
  }

  .account-order-profile__inner-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 15px;

    list-style: none;
  }

  .account-order-profile__inner-item {
    box-sizing: border-box;
    width: 190px;
    padding: 14px 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #55606e;
  }


  .account-order-profile__inner-item--id {
    width: 70px;
    padding-left: 0;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #041936;
  }

  .account-order-profile__inner-item--actions {
    padding-right: 0;
  }

  .account-order-profile__inner-btn--change {
    padding: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #609c9f;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .account-order-profile__inner-btn--delete {
    float: right;
    margin-left: auto;

    background-color: transparent;
    border: none;
    cursor: pointer;


    svg {
      fill: #b69a79;
    }
  }

  //*--------- order-profile----------------
  .account-order-profile__section {
    width: 925px;
  }


  .account-order-profile__form-container {
    padding: 30px;

    border: 1px solid #e2e1e6;
  }

  .account-order-profile__fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    border: none;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .account-order-profile__info {
    width: 100%;
    margin: 0;
  }

  .account-order-profile__type-heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: #041936;
  }

  .account-order-profile__type {
    margin-left: 5px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #55606e;
  }

  .account-order-profile__heading {
    width: 100%;
    margin: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: #609c9f;
  }

  .account-order-profile__field {
    position: relative;

    width: 265px;
    margin: 0;
    margin-top: 8px;
  }

  .account-order-profile__field--location {
    width: 100%;
  }

  .account-order-profile__location {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 100px 15px 50px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #55606e;

    border: none;
    border-bottom: 1px solid #e2e1e6;
  }

  .account-order-profile__label {
    display: block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #041936;

    sup {
      position: relative;
      top: 0;
      left: 2px;

      font-size: 16px;
      color: #609c9f;
    }
  }

  .account-order-profile__textarea {
    width: 100%;
    min-height: 46px;

    border: none;
    border-bottom: 1px solid #e2e1e6;

    resize: none;
  }

  .account-order-profile__textfield {
    box-sizing: border-box;
    margin-bottom: 6px;
    padding: 16px 26px;
    padding-right: 44px;
    padding-left: 11px;

    letter-spacing: -0.6px;

    border: none;
    border-bottom: 1px solid #e2e1e6;
  }

  .account-order-profile__btn-wrapper {
    position: relative;

    margin-bottom: 10px;

    svg {
      position: absolute;
      top: 14px;
      left: 10px;
    }

    .account-order-profile__change {
      position: absolute;
      top: 18px;
      right: 8px;

      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      color: #b69a79;
    }
  }

  .account-order-profile__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 18px;
  }

  .account-order-profile__btn {
    width: 250px;
    margin: 0;
    margin-right: 21px;
    padding: 15px;

    text-transform: uppercase;

    border: none;

    &--save {
      background-color: #609c9f;
      border-color: #609c9f;
    }

    &--reset {
      background-color: #ffffff;
      border: 1px solid #b69a79;
    }
  }

  .account-order-profile__btn--inList {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #b69a79;
    text-transform: none;
  }

  //*-------current-order---------

  .account-current-orders__section {
    width: 925px;
  }

  .account-current-orders__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .account-current-orders__item {
    border: 1px solid #e2e1e6;
  }

  .account-current-orders__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 15px;

    background-color: #f7f7f8;
    border-bottom: 1px solid #e2e1e6;
  }

  .account-current-orders__title {
    margin: 0;

    font-weight: 600;
    line-height: 30px;
    color: #609c9f;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .account-current-orders__status {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;

    font-weight: 600;
    font-size: 12px;
    line-height: 22px;
    color: #b69a79;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background-color: #ffffff;
    border: 1px solid #b69a79;
  }

  .account-current-orders__row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #f0f0f2;
    border-bottom: 1px solid #e2e1e6;
  }

  .account-current-orders__cell {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #b69a79;
  }

  .account-current-orders__cell--item {
    width: 405px;
  }

  .account-current-orders__cell--price {
    width: 150px;
  }

  .account-current-orders__cell--qty {
    width: 120px;
  }

  .account-current-orders__cell--sum {
    width: 170px;
  }

  .account-current-order__orders {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .account-current-order__item {
    margin: 0;
    padding: 0;

    list-style: none;
  }
}
