.best-offers {
  margin-top: 29px;
  margin-bottom: 6px;
}

@media (min-width: $tablet) {
  .best-offers {
    margin-top: 0;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop) {
  .best-offers {
    margin-top: 24px;
    margin-bottom: 6px;
  }
}
