.bg-fade {
  position: absolute;
  top: 122px;
  left: 0;
  z-index: 35;

  width: 100vw;
  height: calc(100% - 122px);

  background-color: rgba(#041936, 0.5);
}

.bg-fade--hide {
  display: none;
}

@media (min-width: $tablet) {
  .bg-fade {
    display: none;
  }
}


@media (min-width: $desktop) {
  .bg-fade {
    top: 136px;
    width: 99.1vw;
    display: block;
  }

  .bg-fade--hide {
    display: none;
  }
}
