.brands {
  margin-bottom: 24px;
}

.brands__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brands__title {
  width: 100%;
  margin: 0;

  text-align: center;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-top: 12px;
  padding: 0 10px;

  list-style: none;
}

.brands__item {
  width: 50%;
}

.brands__link {
  display: block;
  width: 100%;
  height: 95px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 147px;
}

@for $i from 1 through 6 {
  .brands__item:nth-of-type(#{$i}) .brands__link {
    background-image: url("../img/brand_#{$i}.jpg");
  }
}

.brands__item--mobile-hidden {
  display: none;
}

@media (min-width: $tablet) {
  .brands {
    margin-bottom: 42px;
    padding-top: 9px;
  }

  .brands__wrapper {
    align-items: center;
  }

  .brands__title {
    width: auto;
    margin-top: 4px;
    margin-left: 20px;

    font-size: 20px;
    line-height: 22px;
  }

  .brands__list {
    margin-top: 23px;
    padding: 0;
  }

  .brands__item {
    width: auto;
  }

  .brands__link {
    width: 190px;
    height: 130px;

    background-size: 190px;
  }

  .brands__item--mobile-hidden {
    display: block;
  }

  .brands__item--tablet-hidden {
    display: none;
  }
}

@media (min-width: $desktop) {
  .brands {
    margin-bottom: 77px;
  }

  .brands__title {
    font-size: 24px;
    line-height: 1;
  }

  .brands__list {
    width: 1240px;
    margin: 0;
    margin-top: 28px;
  }

  .brands__svg-img:hover {
    filter: none;
  }

  .brands__link {
    display: block;
    width: 206px;
    height: 150px;

    background-size: 208px;
    filter: saturate(0);
  }

  .brands__link:focus,
  .brands__link:hover {
    filter: saturate(100%);
  }

  .brands__item--hidden {
    display: block;
  }

  .brands__item--tablet-hidden {
    display: block;
  }
}
