.copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copy span {
  display: block;
  margin-left: 21px;

  color: #b8b8ba;
}

.copy__link {
  display: block;
  margin-top: 5px;

  color: #b8b8ba;
}

@media (min-width: $tablet) {
  .copy {
    justify-content: space-between;
    align-items: center;
  }

  .copy span {
    margin-left: 0;
  }

  .copy span:nth-of-type(2) {
    margin-left: 5px;
  }

  .copy__link {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop) {
  .copy__link:hover,
  .copy__link:focus {
    opacity: 0.7;
  }

  .copy__link:focus {
    opacity: 0.4;
  }
}
