.copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copy span {
  display: block;
  margin-left: 21px;

  color: #b8b8ba;
}

.copy__link {
  display: block;
  margin-top: 5px;

  color: #b8b8ba;
}

.copy__link:hover,
.copy__link:focus {
  opacity: 0.7;
}

.copy__link:focus {
  opacity: 0.4;
}

@media (min-width: $desktop) {
  .copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .copy span {
    color: #b8b8ba;
  }

  .copy__link {
    color: #b8b8ba;
  }

  .copy__link:hover,
  .copy__link:focus {
    opacity: 0.7;
  }

  .copy__link:focus {
    opacity: 0.4;
  }

}





//!-----------------------------
//!    old
//!-----------------------------

// @media (min-width: $desktop) {
//   .copy {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .copy span {
//     color: #b8b8ba;
//   }

//   .copy__link {
//     color: #b8b8ba;
//   }

//   .copy__link:hover,
//   .copy__link:focus {
//     opacity: 0.7;
//   }

//   .copy__link:focus {
//     opacity: 0.4;
//   }
// }
