.dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
  padding: 0 16px;
}

.dev span {
  margin-top: 15px;

  color: #b8b8ba;
}

.dev__img {
  margin-top: 4px;
}

@media (min-width: $tablet) {
  .dev {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 9px;
    padding: 0;
  }

  .dev span {
    margin-top: 15px;
    margin-right: 10px;
  }

  .dev__img {
    margin-top: 1px;
  }
}

@media (min-width: $desktop) {
  .dev {
    flex-direction: row;
    align-items: center;
    margin-top: 28px;
  }

  .dev:hover,
  .dev:focus {
    opacity: 0.7;
  }

  .dev:focus {
    opacity: 0.4;
  }
}
