.goods__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods__pagination {
  order: 1;
  width: 100%;
  margin: 0;
  margin-top: 21px;
}

.goods__section-title {
  width: 100%;
  margin: 0;

  font-size: 20px;
  text-align: center;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-top: 7px;
  padding: 0;

  list-style: none;
}

.goods__item {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 295px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.goods__item--mobile-hidden {
  display: none;
}

.goods__btn {
  display: none;
}

.goods__labels {
  position: absolute;
  top: 260px;
  left: 17px;

  display: flex;
  flex-wrap: wrap;
}

.goods__labels p {
  margin-right: 5px;
}

.goods__labels p:last-of-type {
  margin-right: 0;
}

.goods__hit {
  width: 94px;
  padding-top: 7px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;

  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #b69a79;
  text-transform: uppercase;

  background-color: $white;
  border: 1px solid #b69a79;
}

.goods__new {
  padding-top: 7px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 6px;

  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $cyan;
  text-transform: uppercase;
  letter-spacing: 0.6px;

  background-color: $white;
  border: 1px solid $cyan;
}

.goods__discount {
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;

  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  background-color: $crimson;
}

.goods__text {
  box-sizing: border-box;
  margin-top: 18px;
  padding-right: 7px;
  padding-left: 7px;
}

.goods__price {
  position: relative;

  margin-bottom: 4px;

  word-wrap: break-word;
}

.goods__price-new {
  margin-right: 11px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: $darkblue;
}

.goods__price-old {
  position: relative;

  font-weight: 700;
  font-size: 17px;
  line-height: 1;
  color: #b8b8ba;
  // text-decoration: line-through;
  letter-spacing: -0.5px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #c7c7c7;
  }
}

.goods__unit {
  margin-left: 6px;
}

.goods__title {
  display: block;
  min-height: 44px;

  font-weight: 500;
  color: $darkblue;
}

.goods__to-cart-btn {
  display: none;
}


@media (min-width: $tablet) {
  // .goods__wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }

  .goods__pagination {
    order: 0;
    width: auto;
    margin: 0;
    margin-top: 5px;
    margin-right: 20px;
  }

  .goods__section-title {
    width: auto;
    margin-top: 20px;
    margin-left: 21px;

    font-size: 20px;
    line-height: 22px;
  }

  .goods__list {
    justify-content: space-between;
    margin-top: 17px;
  }

  .goods__item {
    width: 307px;
  }

  .goods__item--mobile-hidden {
    display: block;
  }

  .goods__item--tablet-hidden {
    display: none;
  }

  .goods__btn {
    display: none;
  }

  .goods__labels {
    left: 21px;
  }

  .goods__text {
    padding-right: 11px;
    padding-left: 11px;
  }

  .goods__to-cart-btn {
    display: none;
  }
}

@media (min-width: $desktop) {
  // .goods__wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // }

  .goods__pagination {
    order: 0;
    width: auto;
    margin: 0;
    margin-top: 5px;
    margin-right: 20px;
  }

  .goods__section-title {
    width: auto;
    margin-top: 20px;
    margin-left: 21px;

    font-size: 24px;
    line-height: 22px;
  }

  .goods__list {
    justify-content: space-between;
    margin-top: 29px;
  }

  .goods__item--hidden {
    display: block;
  }

  .goods__btn {
    position: absolute;
    right: 0;

    display: block;
    width: 40px;
    height: 40px;

    background-color: $gray;
    border: 1px solid #e2e1e6;
    visibility: hidden;
    cursor: pointer;
  }

  .goods__btn--compare {
    top: 20px;
  }

  .goods__btn--like {
    top: 60px;
  }


  .goods__btn--compare svg {
    position: absolute;
    top: 6px;
    left: 9px;
  }

  .goods__btn--like svg {
    position: absolute;
    top: 6px;
    left: 6px;
  }

  .goods__labels {
    left: 21px;
  }

  .goods__text {
    padding-right: 11px;
    padding-left: 11px;
  }

  .goods__to-cart-btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 9px;
    padding: 17px;

    font-weight: 500;
    color: $darkblue;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    background-color: #609c9f;
    border: none;
    visibility: hidden;
    cursor: pointer;
  }

  .goods__item--tablet-hidden {
    display: block;
  }

  .goods__item:hover,
  .goods__item:focus {
    box-sizing: border-box;

    background-color: $white;
    box-shadow: 0 0 0 1px #e2e1e6, 0 0 50px 0 rgba(184, 184, 186, 0.2);
  }


  .goods__item:hover .goods__btn,
  .goods__item:focus .goods__btn {
    visibility: visible;
  }

  .goods__item:hover .goods__to-cart-btn,
  .goods__item:focus .goods__to-cart-btn {
    visibility: visible;
  }

  .goods__to-cart-btn:hover,
  .goods__to-cart-btn:focus {
    opacity: 0.9;
  }

  .goods__to-cart-btn:active {
    opacity: 0.5;
  }

  .goods__title:hover,
  .goods__title:focus {
    color: $cyan;
  }

  .goods__title:active {
    opacity: 0.5;
  }

  .goods__btn:hover svg,
  .goods__btn:focus svg {
    color: $cyan;
  }
}

//!---------------------------
//!     old
//!---------------------------

// @media (min-width: $desktop) {
//   .goods__wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .goods__section-title {
//     margin-top: 20px;
//   }

//   .goods__list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     width: 100%;
//     margin: 0;
//     margin-top: 23px;
//     padding: 0;

//     list-style: none;
//   }

//   .goods__item {
//     position: relative;

//     box-sizing: border-box;
//     width: 295px;
//     padding-top: 10px;
//     padding-right: 10px;
//     padding-bottom: 8px;
//     padding-left: 10px;
//   }

//   .goods__btn {
//     position: absolute;
//     right: 0;

//     width: 40px;
//     height: 40px;

//     background-color: $gray;
//     border: 1px solid #e2e1e6;
//     visibility: hidden;
//   }

//   .goods__btn--compare {
//     top: 20px;
//   }

//   .goods__btn--like {
//     top: 60px;
//   }


//   .goods__btn--compare svg {
//     position: absolute;
//     top: 6px;
//     left: 9px;
//   }

//   .goods__btn--like svg {
//     position: absolute;
//     top: 6px;
//     left: 6px;
//   }

//   .goods__labels {
//     position: absolute;
//     top: 260px;
//     left: 21px;

//     display: flex;
//     flex-wrap: wrap;
//   }

//   .goods__labels p {
//     margin-right: 5px;
//   }

//   .goods__labels p:last-of-type {
//     margin-right: 0;
//   }

//   .goods__hit {
//     width: 94px;
//     padding-top: 7px;
//     padding-right: 6px;
//     padding-bottom: 3px;
//     padding-left: 6px;

//     font-weight: bold;
//     font-size: 12px;
//     line-height: 1;
//     text-align: center;
//     color: #b69a79;
//     text-transform: uppercase;

//     background-color: $white;
//     border: 1px solid #b69a79;
//   }

//   .goods__new {
//     padding-top: 7px;
//     padding-right: 5px;
//     padding-bottom: 4px;
//     padding-left: 6px;

//     font-weight: bold;
//     font-size: 12px;
//     line-height: 1;
//     text-align: center;
//     color: $cyan;
//     text-transform: uppercase;
//     letter-spacing: 0.6px;

//     background-color: $white;
//     border: 1px solid $cyan;
//   }

//   .goods__discount {
//     padding-top: 8px;
//     padding-right: 8px;
//     padding-bottom: 4px;
//     padding-left: 8px;

//     font-weight: bold;
//     font-size: 12px;
//     line-height: 1;
//     text-align: center;
//     color: $white;
//     text-transform: uppercase;

//     background-color: $crimson;
//   }

//   .goods__text {
//     box-sizing: border-box;
//     margin-top: 18px;
//     padding-right: 11px;
//     padding-left: 11px;
//   }

//   .goods__price {
//     position: relative;

//     margin-bottom: 4px;

//     word-wrap: break-word;
//   }

//   .goods__price-new {
//     margin-right: 11px;

//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1;
//     color: $darkblue;
//   }

//   .goods__price-old {
//     position: relative;

//     font-weight: 700;
//     font-size: 17px;
//     line-height: 1;
//     color: #b8b8ba;
//     // text-decoration: line-through;
//     letter-spacing: -0.5px;

//     &::before {
//       content: "";
//       position: absolute;
//       top: 10px;
//       left: 0;

//       width: 100%;
//       height: 1px;

//       background-color: #c7c7c7;
//     }
//   }

//   .goods__unit {
//     margin-left: 6px;
//   }

//   .goods__title {
//     font-weight: 500;
//     color: $darkblue;
//   }

//   .goods__to-cart-btn {
//     box-sizing: border-box;
//     width: 100%;
//     margin-top: 9px;
//     padding: 17px;

//     font-weight: 500;
//     color: $darkblue;
//     text-transform: uppercase;
//     letter-spacing: 0.05em;

//     background-color: #609c9f;
//     border: none;
//     visibility: hidden;
//   }

//   .goods__item:hover,
//   .goods__item:focus {
//     box-sizing: border-box;

//     background-color: $white;
//     box-shadow: 0 0 0 1px #e2e1e6, 0 0 50px 0 rgba(184, 184, 186, 0.2);
//   }

//   .goods__item:hover .goods__btn,
//   .goods__item:focus .goods__btn {
//     visibility: visible;
//   }

//   .goods__item:hover .goods__to-cart-btn,
//   .goods__item:focus .goods__to-cart-btn {
//     visibility: visible;
//   }


//   .goods__to-cart-btn:hover,
//   .goods__to-cart-btn:focus {
//     background-color: #74836d;
//   }

//   .goods__item:hover,
//   .goods__item:focus {
//     box-sizing: border-box;

//     background-color: $white;
//     box-shadow: 0 0 0 1px #e2e1e6, 0 0 50px 0 rgba(184, 184, 186, 0.2);
//   }


//   .goods__item:hover .goods__btn,
//   .goods__item:focus .goods__btn {
//     visibility: visible;
//   }

//   .goods__item:hover .goods__to-cart-btn,
//   .goods__item:focus .goods__to-cart-btn {
//     visibility: visible;
//   }

//   .goods__to-cart-btn:active {
//     opacity: 0.5;
//   }

//   .goods__title:hover,
//   .goods__title:focus {
//     color: $cyan;
//   }

//   .goods__title:active {
//     opacity: 0.5;
//   }

//   .goods__btn:hover svg,
//   .goods__btn:focus svg {
//     color: $cyan;
//   }
// }
