.main-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu__link span:first-of-type {
  margin-right: 2px;

  font-weight: 600;
  color: $darkblue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main-menu__item {
  padding: 0 10px;
}

.main-menu__link span:last-of-type {
  color: $brown;
}

// .main-menu__link:hover span,
// .main-menu__link:focus span {
//   opacity: 0.6;
// }

// .main-menu__link:active span {
//   opacity: 1;
// }

// .main-menu__link--selected:hover,
// .main-menu__link--selected:focus,
// .main-menu__link--selected:active {
//   opacity: 1;
// }
