.page-footer {
  padding-top: 12px;
}

.page-footer__left-side {
  width: 290px;
  margin: 0 auto;
  padding-top: 5px;
}

.page-footer__mid-side {
  width: 290px;
  margin: 0 auto;
  padding-top: 5px;
}

.page-footer__logo img {
  display: block;
  width: auto;
  margin: 0 auto;
}

.page-footer__slogan {
  font-weight: 500;
  font-size: 11.4px;
  line-height: 22px;
  text-align: center;
  color: #55606e;
}

.page-footer__contacts {
  margin-top: 9px;
  margin-bottom: 15px;

  text-align: center;
}

.page-footer__info {
  width: auto;
}

.page-footer__item {
  display: block;
  margin-top: 0;
}

.page-footer__item--address {
  margin-top: 17px;
}

.page-footer__item--working-hours {
  margin-top: 18px;
}

.page-footer__item--email {
  margin-top: 19px;
}

.page-footer__menu {
  width: auto;
  margin-bottom: 16px;

  text-align: center;
}

.page-footer__title {
  position: relative;

  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding-right: 15px;

  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: $cyan;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.page-footer__title svg {
  position: absolute;
  top: 7px;
  right: 2px;

  fill: $cyan;
}

.page-footer__menu-list {
  position: relative;

  display: none;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 14px;
  padding: 0;

  list-style: none;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 42px);

    width: 85px;
    height: 1px;

    background-color: #e2e1e6;
  }
}

.page-footer__menu-list--open {
  display: block;
}

.page-footer__menu-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  color: $darkblue;
}

.page-footer__menu-item {
  margin-bottom: 0;
  padding: 0;
}

.page-footer__right-side {
  text-align: center;
}

.page-footer__right-side .page-footer__menu-item {
  display: none;
}

.page-footer__right-side .page-footer__menu-item--mobile {
  display: block;
}

.page-footer__right-side .page-footer__title {
  margin-left: 14px;

  svg {
    right: -1px;
  }
}

.page-footer__menu-item:last-of-type {
  margin-bottom: 0;
}

.page-footer__company-menu {
  display: none;
}

.page-footer__menu-list--social .page-footer__menu-item {
  display: flex;
  margin-bottom: 0;
}

.page-footer__menu-list--social {
  display: flex;
  margin: 24px auto;
  margin-bottom: 10px;
}

.page-footer__bottom {
  margin-top: 9px;
  padding-top: 9px;

  border-top: 1px solid #e2e1e6;
}


@media (min-width: $desktop) {
  .page-footer {
    margin-top: 35px;
    padding: 0;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__contacts {
    margin: 0;

    text-align: left;
  }

  .page-footer__left-side {
    margin: 0;
    margin-left: 22px;
  }

  .page-footer__logo img {
    margin: 0;
  }

  .page-footer__slogan {
    margin-top: 14px;
    margin-bottom: 18px;

    font-size: 15px;
    line-height: 22px;
    text-align: left;
    color: #55606e;
  }

  .page-footer__item {
    margin-bottom: 15px;

    border: none;
  }

  // .page-footer__item:nth-of-type(1) {
  //   padding-top: 0;
  // }

  .page-footer__item--phone {
    margin-bottom: 18px;
    padding: 0;
  }

  .page-footer__item--address {
    margin-bottom: 19px;
    padding: 0;
  }

  .page-footer__item--working-hours {
    margin-bottom: 19px;
    padding: 0;
  }

  .page-footer__info {
    margin-bottom: 7px;
  }

  .page-footer__menu {
    margin-bottom: 18px;

    text-align: left;
  }

  .page-footer__title {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 29px;

    line-height: 1.5;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;

      width: 85px;
      height: 1px;

      background-color: #e2e1e6;
    }
  }

  .page-footer__title svg {
    display: none;
  }

  .page-footer__menu-list {
    display: block;

    &::before {
      display: none;
    }
  }

  .page-footer__menu-list--social {
    display: flex;
  }

  .page-footer__menu-item {
    margin-bottom: 10px;
  }

  .page-footer__menu-link {
    line-height: 22px;
  }

  .page-footer__menu-link span:first-child {
    color: $darkblue;
  }

  .page-footer__mid-side {
    width: 290;
    margin: 0;
    padding: 0;
  }

  .page-footer__right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 360px;
    margin-right: 19px;

    text-align: left;
  }

  .page-footer__right-side .page-footer__menu-item {
    display: block;
  }

  .page-footer__right-side .page-footer__title {
    margin-bottom: 29px;
    margin-left: 0;
  }

  .page-footer__right-side .page-footer__menu-list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-footer__right-side .page-footer__menu-list--social {
    justify-content: flex-start;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 0;
  }

  .page-footer__menu-list--social .page-footer__menu-item {
    margin-right: 2px;
  }

  .page-footer__menu-list--social .page-footer__menu-link {
    border: 1px solid #f2f2f4;
  }

  .page-footer__bottom {
    margin-top: 23px;
    padding-top: 9px;

    border-top: 1px solid #e2e1e6;
  }

  .page-footer__copy {
    box-sizing: border-box;
    padding-right: 19px;
    padding-left: 21px;
  }

  .page-footer__phone-number:hover,
  .page-footer__phone-number:focus {
    color: $cyan;
  }

  .page-footer__phone-number:active {
    opacity: 0.7;
  }

  .page-footer__email-text:hover,
  .page-footer__email-text:focus {
    color: $cyan;
  }

  .page-footer__email-text:active {
    opacity: 0.7;
  }

  .page-footer__menu-link:hover,
  .page-footer__menu-link:focus {
    color: $cyan;
  }

  .page-footer__menu-link:active {
    opacity: 0.7;
  }
}

//!-----------------------------
//!     old
//!-----------------------------

// @media (min-width: $desktop) {
//   .page-footer {
//     margin-top: 35px;
//   }

//   .page-footer__wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }

//   .page-footer__contacts {
//     margin-bottom: 0;
//   }

//   .page-footer__left-side {
//     width: 290px;
//     margin-left: 22px;
//     padding-top: 5px;
//   }

//   .page-footer__slogan {
//     margin-top: 8px;
//     margin-bottom: 18px;

//     color: #55606e;
//   }

//   .page-footer__item {
//     display: block;
//     margin-bottom: 15px;

//     border: none;
//   }

//   .page-footer__item:nth-of-type(1) {
//     padding-top: 0;
//   }

//   .page-footer__info {
//     margin-bottom: 7px;
//   }

//   .page-footer__menu {
//     margin-bottom: 18px;
//   }

//   .page-footer__title {
//     position: relative;

//     width: 100%;
//     margin-top: 0;
//     margin-bottom: 29px;

//     font-weight: 600;
//     font-size: 15px;
//     line-height: 1.5;
//     color: $cyan;
//     text-transform: uppercase;
//     letter-spacing: 0.05em;

//     &::before {
//       content: "";
//       position: absolute;
//       bottom: -15px;
//       left: 0;

//       width: 85px;
//       height: 1px;

//       background-color: #e2e1e6;
//     }
//   }

//   .page-footer__menu-list {
//     padding: 0;

//     list-style: none;

//     motion: 0;
//   }

//   .page-footer__menu-item {
//     margin-bottom: 10px;
//     padding: 0;
//   }

//   .page-footer__menu-link {
//     color: $darkblue;
//   }

//   .page-footer__menu-link span:first-child {
//     color: $darkblue;
//   }

//   .page-footer__mid-side {
//     width: 290;
//   }

//   .page-footer__right-side {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-content: flex-start;
//     width: 360px;
//     margin-right: 19px;
//   }

//   .page-footer__right-side .page-footer__title {
//     margin-bottom: 29px;
//   }

//   .page-footer__right-side .page-footer__menu-list {
//     margin-top: 0;
//     margin-bottom: 0;
//   }

//   .page-footer__right-side .page-footer__menu-list--social {
//     justify-content: flex-start;
//     width: 100%;
//     margin-top: 13px;
//     margin-bottom: 0;
//   }

//   .page-footer__menu-list--social .page-footer__menu-item {
//     margin-right: 2px;
//     margin-bottom: 0;
//   }

//   .page-footer__menu-list--social .page-footer__menu-link {
//     border: 1px solid #f2f2f4;
//   }

//   .page-footer__bottom {
//     margin-top: 23px;
//     padding-top: 9px;

//     border-top: 1px solid #e2e1e6;
//   }

//   .page-footer__copy {
//     box-sizing: border-box;
//     padding-right: 19px;
//     padding-left: 21px;
//   }

//   .page-footer__phone-number:hover,
//   .page-footer__phone-number:focus {
//     color: $cyan;
//   }

//   .page-footer__phone-number:active {
//     opacity: 0.7;
//   }

//   .page-footer__email-text:hover,
//   .page-footer__email-text:focus {
//     color: $cyan;
//   }

//   .page-footer__email-text:active {
//     opacity: 0.7;
//   }

//   .page-footer__menu-link:hover,
//   .page-footer__menu-link:focus {
//     color: $cyan;
//   }

//   .page-footer__menu-link:active {
//     opacity: 0.7;
//   }
// }
