.page-header__nav {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.page-header__menu {
  position: absolute;
  top: 141px;
  left: 0;
  z-index: 10;

  display: none;

  background-color: $white;
}

.page-header__menu--show {
  display: block;
}

.page-header__wrapper {
  position: relative;
}


.page-header__service-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-header__service-item {
  width: 100%;
  padding: 0;

  text-align: center;
}

.page-header__service-item--tablet-dropdown {
  display: none;
}

.page-header__service-link {
  display: block;
  box-sizing: border-box;
  padding: 12px;

  color: #55606e;

  border-bottom: 2px solid #e2e1e6;
}


.page-header__user-menu {
  position: relative;
  z-index: 5;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin-top: -29px;
  margin-bottom: 0;
  padding: 0 20px;
  padding-right: 13px;
  padding-left: 7px;

  list-style: none;

  background-color: #f0f0f2;
  border-top: 1px solid #e2e1e6;
}

.page-header__user-item {
  width: 50px;
  height: 42px;
}

.page-header__user-link {
  position: relative;

  display: block;
  width: auto;
  height: 100%;
}

.page-header__user-item svg {
  position: absolute;
}

.page-header__user-item:nth-of-type(1) svg {
  top: 8px;
  left: 13px;
}

.page-header__user-item:nth-of-type(2) svg {
  top: 8px;
  left: 13px;
}

.page-header__user-item:nth-of-type(3) svg {
  top: 8px;
  left: 16px;
}

.page-header__user-item:nth-of-type(4) svg {
  top: 8px;
  left: 13px;
}

.page-header__user-item:nth-of-type(5) svg {
  top: 6px;
  left: 10px;
}

.page-header__social-menu {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0;
}

.page-header__social-link {
  box-sizing: border-box;

  border: 1px solid #f2f2f4;
}

.page-header__phone--menu {
  display: block;
  padding: 0 10px;
  padding-bottom: 15px;

  text-align: center;
}

.page-header__title {
  order: -1;
  width: 100%;
}

.page-header__logo {
  display: block;
  width: 100%;
  padding-top: 12px;
}

.page-header__logo svg {
  display: block;
  margin: 0 auto;

  color: transparent;
}

.page-header__title-form {
  position: absolute;
  top: 50px;
  z-index: 25;

  display: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 11px;

  background-color: #e2e1e6;
}

.page-header__title-form--show {
  display: flex;
}

.page-header__title-form label {
  display: block;
  width: 100%;
}

.page-header__title-field {
  width: 100%;
}

.page-header__title-btn {
  display: none;
}

.page-header__phone {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: $darkblue;
}

.page-header__phone--title {
  display: none;
}

.page-header__btn-open {
  position: relative;

  box-sizing: border-box;
  width: 50%;
  padding: 13px 14px 12px 5px;

  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: $darkblue;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #f2f2f4;
  border-right: none;
}

.page-header__btn-open--active::before {
  content: attr(data-active);
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px;

  color: $white;

  background-color: #5f9ba1;
}

.page-header__btn-open--active::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 27px;

  width: 12px;
  height: 12px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10.7'%3E%3Cpath fill='%23ffffff' d='M6.1,5.3l3.8-4.2c0.2-0.3,0.2-0.7-0.1-1c-0.3-0.2-0.7-0.2-1,0.1L5,4.4L1.2,0.3C1,0,0.5-0.1,0.3,0.2 C0,0.5-0.1,0.9,0.2,1.2l3.7,4.1L0.2,9.4c-0.3,0.3-0.2,0.7,0.1,1c0.2,0.3,0.7,0.2,0.9-0.1L5,6.2l3.8,4.2c0.3,0.3,0.7,0.3,1,0.1 c0.3-0.3,0.3-0.7,0.1-1L6.1,5.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.page-header__main-item {
  margin-top: -2px;
  padding: 0;

  background-color: #ffffff;
  border: 2px solid #e2e1e6;
  border-top: 1px solid #e2e1e6;
}

.page-header__main-wrapper {
  display: flex;
}

.page-header__main-close {
  position: relative;

  flex-grow: 1;

  background-color: transparent;
  border: none;

  svg {
    position: absolute;
    top: 29px;
    left: 27px;
    fill: #baa085;
  }
}

.page-header__main-link {
  display: block;
  box-sizing: border-box;
  width: 77%;
  padding: 13px;

  text-align: center;

  //   background-color: $white;
  // border: 2px solid #e2e1e6;
  // border-top: 1px solid #e2e1e6;


  span {
    display: block;
  }
}

.page-header__sub-menu {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 13px;

  list-style: none;

  background-color: #e2e1e6;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 86%;

    width: 12px;
    height: 12px;

    background-color: #e2e1e6;
    transform: rotate(45deg);
  }
}

.page-header__sub-item {
  margin-right: 0;
}

.page-header__sub-item:last-of-type {
  margin-right: 0;
}

.page-header__sub-close {
  width: 100%;
  padding: 9px;

  font-weight: 500;
  color: $cyan;

  background-color: transparent;
  border: none;
}

.page-header__sub-close span {
  position: relative;

  padding-right: 20px;
}

.page-header__dropdown-icon {
  position: absolute;
  top: 7px;
  right: 1px;

  transform: rotate(180deg);

  fill: $cyan;
}

.page-header__sub-link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 7px;

  text-align: center;
  color: #55606e;
}

.page-header__catalog {
  position: absolute;
  top: 143px;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
}

.page-header__catalog--show {
  display: block;
}

@media (min-width: $tablet) {
  .page-header {
    margin-bottom: 30px;
  }

  .page-header__nav {
    position: relative;

    display: block;
  }

  .page-header__menu {
    position: relative;
    top: 0;

    display: block;
    width: 100%;
    margin-bottom: 10px;

    background-color: $gray;
  }

  .page-header__service-menu {
    width: 495px;
    margin-left: 10px;
  }

  .page-header__service-item--tablet-dropdown {
    position: relative;

    display: block;
  }

  .page-header__service-item--tablet {
    display: none;
  }

  .page-header__service-item--tablet-dropdown .page-header__service-link {
    color: #609c9f;
  }

  .page-header__service-item--tablet-dropdown .page-header__service-link svg {
    fill: #609c9f;
  }

  .page-header__service-item--tablet-dropdown .page-header__service-link--open svg {
    transform: rotate(180deg);

    fill: #609c9f;
  }

  .page-header__service-drop-list {
    position: absolute;
    bottom: -130px;
    left: -83px;
    z-index: 20;

    display: none;
    width: 242px;
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #ffffff;
    border: 2px solid #e2e1e6;

    &::before {
      content: "";
      position: absolute;
      top: -9px;
      left: calc(50% - 6px);

      width: 13px;
      height: 13px;

      background-color: #ffffff;
      border: 2px solid #e2e1e6;
      border-right: none;
      border-bottom: none;
      transform: rotate(45deg);
    }
  }

  .page-header__service-drop-list--show {
    display: block;
  }

  .page-header__service-drop-item {
    box-sizing: border-box;
    padding: 10px;

    border-bottom: 2px solid #e2e1e6;
  }

  .page-header__service-drop-item:last-of-type {
    border-bottom: none;
  }

  .page-header__service-drop-link {
    display: block;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    color: #55606e;
  }

  .page-header__service-item {
    width: auto;
  }

  .page-header__service-link {
    padding: 0;

    border-bottom: none;
  }

  .page-header__user-menu {
    width: 198px;
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    padding: 0;

    background-color: transparent;
    border-top: none;
  }

  .page-header__user-item {
    width: 42px;
    margin-right: 0;
  }

  .page-header__user-item:last-of-type {
    margin-right: 0;
  }

  .page-header__user-item:nth-of-type(2) svg {
    top: 8px;
    left: 15px;
  }

  .page-header__user-item:nth-of-type(3) svg {
    top: 8px;
    left: 10px;
  }

  .page-header__user-item:nth-of-type(4) svg {
    top: 8px;
    left: 8px;
  }

  .page-header__user-item:nth-of-type(5) svg {
    top: 6px;
    left: 10px;
  }

  .page-header__social-menu {
    width: 190px;
    margin: 0;
    padding: 0;
  }

  .page-header__title {
    margin-bottom: 15px;
    padding-bottom: 10px;

    border-bottom: 1px solid #e2e1e6;
  }

  .page-header__logo {
    display: block;
    width: auto;
    margin-right: 55px;
    margin-left: 1px;
    padding-top: 0;
  }

  .page-header__title-form {
    position: relative;
    top: 0;

    display: flex;
    box-sizing: border-box;
    width: 305px;
    margin-top: 10px;
    padding: 0;

    background-color: transparent;
  }

  .page-header__title-form label {
    display: block;
    width: auto;
  }

  .page-header__title-field {
    width: 247px;
  }

  .page-header__top {
    background-color: $gray;
  }

  .page-header__middle {
    padding-top: 10px;
    padding-bottom: 4px;

    border-bottom: 1px solid $gray;
  }

  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-header__phone {
    align-self: flex-start;
    margin-top: 26px;
    margin-left: 21px;
  }

  .page-header__phone--menu {
    display: none;
  }

  .page-header__phone--title {
    display: block;
  }

  .page-header__bottom {
    padding-top: 15px;
  }

  .page-header__main-menu {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-right: 45px;
    padding-bottom: 14px;
    padding-left: 45px;

    list-style: none;
  }

  .page-header__main-item {
    position: static;
  }

  .page-header__main-link {
    position: relative;

    padding: 0;

    background-color: transparent;
    border: none;

    &::before {
      content: "";
      position: absolute;
      bottom: -22px;
      left: 50%;

      display: none;
      width: 15px;
      height: 15px;

      background-color: #baa085;
      transform: rotate(45deg);
    }
  }

  .page-header__main-link--selected::before {
    display: block;
  }

  .page-header__bg {
    display: none;

    background-color: $brown;
  }

  .page-header__main-item--selected .page-header__main-link {
    &::before {
      display: block;
    }

    span:first-of-type {
      color: #e7445f;
    }
  }

  .page-header__sub-menu {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
    padding-right: 0;
    padding-bottom: 14px;
    padding-left: 10px;

    background-color: $brown;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 150px;

      display: none;
      width: 1px;
      height: 1px;

      background-color: transparent;
      border: 10px solid transparent;
      border-bottom-color: $brown;
      transform: rotate(0);
    }
  }

  .page-header__sub-link {
    padding: 23px 0;

    color: $white;
  }

  .page-header__catalog {
    position: relative;
    top: 0;
    z-index: 5;

    display: block;

    border-bottom: 1px solid #e2e1e6;
  }

  .page-header__btn-open {
    display: none;
  }

  .page-header__logo svg {
    margin: 0 auto;

    color: #9b9da2;
  }

  .page-header__sub-close {
    padding: 15px;

    color: $white;
  }

  .page-header__sub-close svg {
    fill: $white;
  }
}

@media (min-width: $desktop) {
  .page-header {
    margin-bottom: 111px;
  }

  .page-header__catalog {
    border-bottom: none;
  }

  .page-header__service-menu {
    width: 790px;
    margin-right: 24px;
  }

  .page-header__service-item {
    width: auto;
  }

  .page-header__service-item--tablet {
    display: block;
  }

  .page-header__service-item--tablet-dropdown {
    display: none;
  }

  .page-header__user-menu {
    width: 214px;
    margin-right: 18px;
    margin-left: 22px;
  }

  .page-header__user-item {
    margin-right: 7px;
  }

  .page-header__logo {
    margin-right: 63px;
  }

  .page-header__logo svg {
    color: #a9acb2;
  }

  .page-header__title-form {
    z-index: 10;

    width: 526px;
    height: auto;
    margin-top: 10px;
  }

  .page-header__title-field {
    width: 272px;
  }

  .page-header__title-btn {
    display: block;
  }

  .page-header__phone {
    margin-left: auto;
  }

  .page-header__main-menu {
    padding-right: 81px;
    padding-bottom: 17px;
    padding-left: 64px;
  }

  .page-header__main-item {
    position: static;
  }

  .page-header__main-link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 47%;

      display: none;
      width: 15px;
      height: 15px;

      background-color: #baa085;
      transform: rotate(45deg);
    }
  }

  .page-header__main-item--selected .page-header__main-link {
    &::before {
      display: block;
    }

    span:first-of-type {
      color: #e7445f;
    }
  }

  .page-header__sub-wrapper {
    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    width: 100%;
    height: inherit;

    background-color: #baa085;
  }

  .page-header__sub-menu {
    position: static;

    display: flex;
    box-sizing: border-box;
    width: 1240px;
    margin: 0 auto;
    padding: 0 10px;

    list-style: none;

    background-color: transparent;

    &::before {
      display: none;
    }
  }

  .page-header__sub-item:last-of-type {
    display: none;
  }

  .page-header__sub-link {
    margin: 0;
    padding: 15px 0;
  }

  .page-header__phone:hover,
  .page-header__phone:focus {
    color: $cyan;
  }

  .page-header__phone:active {
    opacity: 0.5;
  }
}
