.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 19px;
  justify-content: center;
}

.pagination__all {
  // margin-right: 52px;
  font-size: 15px;
  color: $cyan;
  margin-bottom: 14px;
}

.pagination__numbers {
  position: relative;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 64px;
  padding: 0 9px;

  &::after {
    content: "/";
    position: absolute;
    left: 47%;

    color: #b8b8ba;
  }
}

.pagination__numbers span {
  width: 50%;
  padding: 0 7px;

  text-align: center;
}

.pagination__page {
  color: $darkblue;
}

.pagination__pages {
  color: #b8b8ba;
}

.pagination__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination__btn {
  position: relative;

  width: 50px;
  height: 50px;

  background-color: #f0f0f2;
  border: 1px solid #e2e1e6;
  border-radius: 50%;
  cursor: pointer;

  // @include arrow(top, 23px, right, 16px, $brown);
}

.pagination__btn svg {
  position: absolute;
  fill: #b69a79;
  top: 17px;
  left: 14px;
}

.pagination__btn--back {
  transform: rotate(180deg);
}

.pagination__btn:hover,
.pagination__btn:focus {
  background-color: #b69a79;
}

.pagination__btn:hover svg,
.pagination__btn:focus svg {
  fill: $white;
}


.pagination__btn:active {
  opacity: 0.7;
}

.pagination__all:hover,
.pagination__all:focus {
  text-decoration: underline;
}

.pagination__all:active {
  opacity: 0.7;
}
