.purchases-info {
  width: 100%;
}

.purchases-info__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #55606e;

  mark {
    color: $cyan;

    background-color: #ffffff;
  }
}

@media (min-width: $tablet) {
  .purchases-info {
    width: 700px;
  }
}

@media (min-width: $desktop) {
  .purchases-info {
    width: 925px;
  }
}
