.purchases-info {
  width: 100%;
  margin-bottom: 29px;

  a {
    color: $cyan;
  }

  mark {
    color: $cyan;

    background-color: #ffffff;
  }
}

.purchases-info__section {
  margin-bottom: 23px;
}

.purchases-info__title {
  margin-top: 20px;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #609c9f;

  &:first-of-type {
    margin-top: 4px;
  }
}

.purchases-info__title--how-to-order {
  margin-top: 3px;
}

.purchases-info__title--try-on {
  margin-top: 0;
  margin-bottom: 8px;

  line-height: 1.4;
}

.purchases-info__text {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #55606e;

  sup {
    position: relative;
    top: 2px;
    left: -2px;

    font-size: 16px;
  }
}

.purchases-info__important {
  margin-top: 24px;
  margin-bottom: 25px;
  padding: 20px 20px 13px;

  background-color: #f0f0f2;
  border: 1px solid #e2e1e6;
}

.purchases-info__text--important {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #b69a79;
}

.purchases-info__list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;

  counter-reset: purchasesCouter;
}

.purchases-info__item {
  position: relative;

  margin-bottom: 10px;
  padding-left: 20px;

  font-weight: 500;
  font-size: 15px;
  color: #55606e;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: counter(purchasesCouter);
    // padding-right: 10px;
    position: absolute;
    left: 0;

    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #e9465e;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    counter-increment: purchasesCouter;
  }
}

.purchases-info__list--unordered {
  margin-bottom: 10px;

  .purchases-info__item::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;

    width: 8px;
    height: 8px;

    background-color: #e9465e;
    border-radius: 50%;
  }
}

.purchases-info__img-list {
  position: relative;
  left: -15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.purchases-info__img-item svg {
  width: 89px;
  height: auto;
}

.purchases-info__table--delivery {
  width: 100%;
  margin-bottom: 25px;

  border-collapse: collapse;
  font-size: 13px;


  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 25px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  td {
    position: relative;

    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    padding: 0;

    border: 1px solid #e2e1e6;

    span {
      display: block;
      box-sizing: border-box;
      width: 61%;
      padding: 10px;

      text-align: center;

      span {
        width: 100%;
      }
    }

    &::before {
      content: attr(data-label);

      align-items: stretch;
      box-sizing: border-box;
      width: 35%;
      padding: 10px;

      font-weight: 600;
      font-size: 13px;
      line-height: 1.5;
      color: #b69a79;

      background-color: #f0f0f2;
      border-right: 1px solid #e2e1e6;
    }

    &::after {
      content: "";
      position: absolute;
      right: 65%;

      width: 1px;
      height: 100%;

      background-color: #e2e1e6;
    }
  }
}

.purchases-info__img {
  display: block;
  margin: 0 auto;
  margin-top: -9px;
  margin-bottom: 2px;
}

@media (min-width: $tablet) {
  .purchases-info {
    width: 700px;
  }

  .purchases-info__img-list {
    left: 0;

    width: 309px;
  }

  .purchases-info__img-item svg {
    width: 99px;
    height: auto;
  }

  .purchases-info__important {
    margin-top: 24px;
    margin-bottom: 25px;
    padding: 23px 30px 13px;

    background-color: #f0f0f2;
    border: 1px solid #e2e1e6;
  }


  .purchases-info__table--delivery {
    margin-top: 5px;
    margin-bottom: 15px;

    border-collapse: collapse;

    border: 1px solid #e2e1e6;

    thead {
      display: table-row-group;
    }

    th {
      width: calc(100% / 5);
      padding: 10px;

      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #b69a79;

      background-color: #f0f0f2;
      border: 1px solid #e2e1e6;
    }

    tr {
      display: table-row;
    }

    td {
      display: table-cell;
      width: call(100% / 5);
      padding: 10px;

      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #041936;

      background: #ffffff;
      border: 1px solid #e2e1e6;

      &:first-of-type {
        padding-left: 15px;

        text-align: left;
      }

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }

      span {
        display: inline;
        padding: 0;

        span {
          display: block;
          &:first-of-type {
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .purchases-info {
    width: 925px;
  }

  .purchases-info__table--sizes {
    width: 100%;
    margin-top: 19px;
    margin-bottom: 18px;

    border-collapse: collapse;

    border: 1px solid #e2e1e6;

    th {
      box-sizing: border-box;
      width: 105px;
      padding: 9px 10px;
      padding-left: 15px;

      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      color: #b69a79;

      background-color: #f0f0f2;
      border: 1px solid #e2e1e6;

      &:first-of-type {
        width: 193px;

        text-align: left;
      }
    }

    td {
      padding: 8px 10px;
      padding-left: 15px;

      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      color: #041936;

      border: 1px solid #e2e1e6;
      &:first-of-type {
        padding-right: 11px;
        padding-bottom: 9px;

        text-align: left;
      }
    }
  }
}
