.quantity {
  display: block;
  width: 24px;
  height: 24px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: #ffffff;

  background-color: #609c9f;
  border-radius: 50%;
}
