.region-select {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 210px;
  margin-top: 12px;
  margin-bottom: 10px;
  padding-left: 30px;
  overflow: hidden;
}

.region-select span {
  margin-right: 4px;

  color: #55606e;
  white-space: nowrap;
}

.region-select__link {
  color: #b69a79;
  white-space: nowrap;
}
