.region-select {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 210px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 30px;
  overflow: hidden;
}


.region-select__icon {
  position: absolute;
  top: 6px;
  left: 0;

  overflow: visible;

  fill: $brown;
}

.region-select span {
  margin-right: 4px;

  color: #55606e;
  white-space: nowrap;
}

.region-select__link {
  position: relative;

  color: #b69a79;
  white-space: nowrap;

  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: -38px;

    width: 55px;
    height: 100%;

    background-image: linear-gradient(to right, transparent 0%, #f0f0f2 50%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -9px;

    width: 5px;
    height: 5px;

    border: 1px solid $brown;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
  }
}

.region-select__link:hover,
.region-select__link:focus {
  color: rgba($brown, 0.7);
}

.region-select__link:active {
  color: rgba($brown, 0.5);
}
