.section-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: $darkblue;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.05em;
}

@media (min-width: $tablet) {
  .section-title {
    margin-left: 21px;
    font-size: 24px;
  }
}
