// .stock {
//   margin-top: 18px;
//   margin-bottom: 10px;
// }

// .stock__list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   margin: 0;
//   padding: 0;

//   list-style: none;
// }

// .stock__item {
//   max-width: 93.6%;
//   margin: 0 auto;
//   margin-bottom: -4px;
// }

// .stock__item--hidden {
//   display: none;
// }

// .stock__btn {
//   margin-top: 18px;
//   margin-bottom: 10px;
//   padding-right: 82px;
//   padding-left: 60px;

//   text-align: center;
// }

// .stock__btn svg {
//   right: 58px;
// }


@media (min-width: $desktop) {
  .stock {
    margin-bottom: 52px;
  }

  .stock__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .stock__item {
    margin-bottom: -4px;
  }

  .stock__btn {
    display: none;
  }
}

// for desktop
// .stock__item {
//   margin-bottom: -4px;
// }
