.stock {
  margin-top: 18px;
  margin-bottom: 10px;
}

.stock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.stock__item {
  // max-width: 93.6%;
  margin: 0 auto;
  margin-bottom: -4px;
}

.stock__item--hidden {
  display: none;
}

.stock__btn {
  margin-top: 18px;
  margin-bottom: 10px;
  padding-right: 82px;
  padding-left: 60px;

  text-align: center;
}

.stock__btn svg {
  right: 58px;
}

@media (min-width: $tablet) {
  .stock {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .stock__item {
    margin: 0;
  }

  .stock__item--big {
    width: 50%;
  }

  .stock__item--small {
    width: 33.33%;
    margin-top: -6px;
  }

  .stock__item--hidden {
    display: block;
  }

  .stock__btn {
    display: none;
  }
}

@media (min-width: $desktop) {
  .stock {
    margin-top: 0;
    margin-bottom: 52px;
  }

  .stock__item--hidden {
    display: block;
  }

  .stock__btn {
    display: none;
  }
}

// for desktop
// .stock__item {
//   margin-bottom: -4px;
// }
