.sub-menu__link {
  color: #ffffff;
}

.sub-menu__item {
  margin-right: 10px;
}

.sub-menu__item:last-of-type {
  margin-right: 4px;
}


@media (min-width: $desktop) {
  .sub-menu__link:hover,
  .sub-menu__link:focus {
    opacity: 0.6;
  }

  .sub-menu__link:active {
    opacity: 0.3;
  }
}
