
@font-face {
  font-weight: 200;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-100.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-100.woff") format("woff");
}

@font-face {
  font-weight: 200;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-200.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-200.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-800.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Montserrat";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/montserrat-v14-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin_cyrillic-900.woff") format("woff");
}

@font-face {
  font-weight: 100;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-100.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-100.woff") format("woff");
}

@font-face {
  font-weight: 100;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-800.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "M PLUS Rounded 1c";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/m-plus-rounded-1c-v10-latin_cyrillic-900.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Font Awesome Brands Regular";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/FontAwesome5Brands-Regular-400.woff2") format("woff2"),
    url("../fonts/FontAwesome5Brands-Regular-400.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Font Awesome Free Regular";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/FontAwesome5Free-Regular-400.woff2") format("woff2"),
    url("../fonts/FontAwesome5Free-Regular-400.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Font Awesome Free Solid";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/FontAwesome5Free-Solid-900.woff2") format("woff2"),
    url("../fonts/FontAwesome5Free-Solid-900.woff") format("woff");
}
