body {
  position: relative;

  min-width: 320px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
