button,
input,
select,
textarea,
a {
  outline: none;
}

@media (min-width: $desktop) {
  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  a:focus {
    outline: auto;
    outline-color: #609c9f;
  }
}

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  font-family: inherit;

  background-color: transparent;
  background-image: none;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  box-shadow: none;

  -webkit-appearance: none;
}

input,
button {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;

  -webkit-box-shadow: none;
          box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}


body {
  position: relative;

  min-width: 320px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
